*{
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(to bottom, #a4ebf6, #fff, #fff);
}
#principal{
  width: 93%;
  float: left;
  margin:2% 3% 3% 3%;

}
nav{
  width: 99%;
  display: block;
  position: sticky;
  background: linear-gradient(#0046ff, #8aa7f6);
  padding:10px 6px;
  float: left;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
footer{
  width: 99%;
  display: block;
  position: sticky;
  background: linear-gradient(#0046ff, #8aa7f6);
  padding:15px 10px;
  float: left;
  height: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
footer p{
  text-align: center;
  color: #fff;
  font-size: 80%;
}
a{
  text-decoration: none;
  color: #fff;
  margin:0 5px 0 5px;
}
a img{
  margin:0 5px 0 5px;
}
#btnBuscar, #txtBuscar{
  float: right;
  margin:0 5px 0 5px;
}
#imagen{
  width: 100%;
  display: block;
  float: left;
  margin:5px 0 0 0;
}
#imagen img{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/*====================================================================*/
section{
  width: 100%;
  float: left;
}
/*====================================================================*/
.info{
  width: 38%;
  float: left;
}
.info p{
  padding: 3% 4%;
  text-align: center;
}
/*====================================================================*/
.uso{
  width: 52%;
  float: right;
}
.uso p{
  padding: 3% 4%;
  text-align: center;
}
/*====================================================================*/
#title{
  background: linear-gradient(#0046ff, #8aa7f6);
  padding: 1% 2%;
  border-radius: 10px;
}
/*====================================================================*/
.calendario{
  width: 38%;
  float: left;
}
.calendario p{
  padding: 3% 4%;
  text-align: center;
}
/*====================== h1 =============================*/
h1{
  text-align: center;
}
/*====================== Iframe =============================*/
iframe{
  margin:3% 8% 3% 8%;
}
/*====================== Audio =============================*/
audio{
  margin:0 0 0 20%;
}
/*=================== Imagenes ========================*/
.imagen1, .imagen2, .imagen3, .imagen4{
  float: left;
  border:3px solid #000;
  margin:2% 2% 2% 5%;
}
.imagen1:hover, .imagen2:hover, .imagen3:hover, .imagen4:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    border:3px dashed #ff0;
}
/*======================== CALENDARIO ==========================*/
#cal {
    -moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
    margin:50px auto;
    font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif;
    display:table;
}
#cal .header {
    cursor:default;
    background: #cd310d;
    background: -moz-linear-gradient(top, #b32b0c, #cd310d);
    background: -webkit-gradient(linear, left top, left bottom, from(#b32b0c), to(#cd310d));
    height: 34px;
    position: relative;
    color:#fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight:bold;
    text-shadow:0px -1px 0 #87260C;
    text-transform: uppercase;
}
#cal .header span {
    display:inline-block;
    line-height:34px;
}
#cal .header .hook {
    width: 9px;
    height: 28px;
    position: absolute;
    bottom:60%;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#ececec;
    background: -moz-linear-gradient(right top, #fff, #827e7d);
    background: -webkit-gradient(linear, right top, right bottom, from(#fff), to(#827e7d));
    box-shadow:0px -1px 2px rgba(0, 0, 0, 0.65 );
    -moz-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.65 );
    -webkit-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.65 );
}
.right.hook {
    right:15%;
}
.left.hook {
    left: 15%;
}#cal .header .button {
    width:24px;
    text-align:center;
    position:absolute;
}
#cal .header .left.button {
    left:0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    border-right:1px solid #ae2a0c;
}
#cal .header .right.button {
    right:0;
    top:0;
    border-left:1px solid #ae2a0c;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}
#cal .header .button:hover {
    background: -moz-linear-gradient(top, #d94215, #bb330f);
    background: -webkit-gradient(linear, left top, left bottom, from(#d94215), to(#bb330f));
}
#cal .header .month-year {
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
}
#cal table {
    background:#fff;
    border-collapse:collapse;
}
#cal td {
    color:#2b2b2b;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    border:1px solid #e6e6e6;
    cursor:default;
}
#cal #days td {
    height:26px;
    line-height: 26px;
    text-transform:uppercase;
    font-size:90%;
    color:#9e9e9e;
}
#cal #days td:not(:last-child) {
    border-right:1px solid #fff;
}
#cal #cal-frame td.today {
    background:#ededed;
    color:#8c8c8c;
    box-shadow:1px 1px 0px #fff inset;
    -moz-box-shadow:1px 1px 0px #fff inset;
    -webkit-box-shadow:1px 1px 0px #fff inset;
}
#cal #cal-frame td:not(.nil):hover {
    color:#fff;
    text-shadow: #6C1A07 0px -1px;
    background:#CD310D;
    background: -moz-linear-gradient(top, #b32b0c, #cd310d);
    background: -webkit-gradient(linear, left top, left bottom, from(#b32b0c), to(#cd310d));
    -moz-box-shadow:0px 0px 0px;
    -webkit-box-shadow:0px 0px 0px;
}
#cal #cal-frame td span {
    font-size:80%;
    position:relative;
}
#cal #cal-frame td span:first-child {
    bottom:5px;
}
#cal #cal-frame td span:last-child {
    top:5px;
}
#cal #cal-frame table.curr {
    float:left;
}
#cal #cal-frame table.temp {
    position:absolute;
}
